<h1><%=@doctor.name%></h1>
<h2><%=@doctor.department%></h2>
<h3>Appointments:</h3>
<%@appointments.each do |a|%>
    <li><%=a.date%><br>
    <%=link_to a.patient_name, patient_path(a.patient)%></li>
<%end%>